<div class="offset-1 col-10">
  <div class="footer">
    <div class="options">
      <div class="links">
        <a class="footer-link" href="#"> Terms and Conditions </a>
        <a class="footer-link" href="#"> Privacy Policy </a>
        <a class="footer-link" href="#"> Contact Us </a>
      </div>
      <div class="social">
        <span class=""> Follow us </span>
        <img src="../../../assets/img/facebook.svg" class="social-icon">
        <img src="../../../assets/img/twitter.svg" class="social-icon">
      </div>
    </div>
  </div>
</div>
