.home-container {
  background-color: #FFFFFF;
  width: 100%;

  .description-container {
    background-color: #ebebeb;
    height: 80px;
    margin: 40px 40px 20px;
    padding: 15px;

    .left-desc {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    .center-desc {
      display: flex;
      align-self: center;
    }
    .close {
      align-self: center;
      text-align: right;
      img:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    .default-text {
      font-weight: 100;
      font-size: 18px;
      line-height: 1;
    }
    .highlight-text {
      font-weight: 500;
      font-size: 28px;
      line-height: 1;
    }
  }

  .submit-container {
    height: 120px;
    background-image: url(../../../assets/img/bg-people.@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 40px;
    .backdrop {
      background-color: rgba($color: #FFFFFF, $alpha: 0.8);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      height: 100%;

      .submit-description {
        font-size: 28px;
        opacity: 0.7;
      }
      button {
        border: 2px solid #000000;
        background-color: transparent;
        height: 80px;
        width: 340px;
        span {
          font-size: 28px;
          opacity: 0.7;
        }
        &:hover {
          border: 3px solid #000000;
        }
      }
    }
  }
}
