.rulings-container {
  margin: 0 40px;

  .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    margin: 15px 0;
    .title {
      font-size: 40px;
      font-weight: 200;
    }

    .dropdown {
      .dropdown-toggle {
        background-color: #FFFFFF;
        width: 180px;
        height: 44px;
        font-weight: 300;
        font-size: 16px;
        border: 2px solid #000000;
        &::after {
          position: absolute;
          right: 15px;
          top: 20px
        }
      }

      .dropdown-menu {
        width: 180px;
        border-radius: 0;
        padding: 0;
        li {
          height: 44px;
          border: 1px solid #000000;
          a {
            height: 100%;
            text-align: center;
            font-weight: 300;
            line-height: 2;
          }
        }
      }
    }
  }

  .rule-container {
    &.cards-container {
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      .rule-item {
        height: 300px;
        margin: 10px;
        .backdrop {
          display: none;
        }
        .trend-thumb {
          width: 32px;
          height: 32px;
          padding: 8px;
          top: calc(50% - 24px);
        }
        .gauge {
          height: 30px;
          .gauge-bar {
            img {
              width: 18px;
            }
            span {
              font-size: 18px;
            }
          }
        }
        .info-row {
          img {
            width: 100%;
          }
          .content {
            width: 100%;
            position: absolute;
            padding-left: 40px;
            margin-top: 60px;
            .title {
              line-height: 1;
            }
            .description {
              font-size: 14px;
              font-weight: normal;
              word-break: break-word;
              white-space: normal !important;
              display: -webkit-box !important;
              /* autoprefixer: off */
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }
          }
          .vote-container {
            position: absolute;
            width: 100%;
            bottom: 35px;
            right: 20px;
            .elapsed-time {
              font-size: 13px;
              font-weight: normal;
            }
            .buttons-container {
              .vote-button {
                height: 32px;
                width: 32px;
                img {
                  width: 16px;
                }
              }
              .vote-now {
                height: 32px;
                &[disabled] {
                  background-color: rgba(130, 130, 130, 0.4);
                }
              }
            }
          }
        }
      }
    }
  }

  .rule-item {
    height: 180px;
    margin: 15px 0;
    position: relative;

    .backdrop {
      position: absolute;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.3) 100%);
      height: 100%;
      width: 100%;
    }

    .trend-thumb {
      position: absolute;
      width: 48px;
      height: 48px;
      padding: 12px;

      background-color: rgba(80,196,188, 0.7);
      content:  url(../../../assets/img/thumbs-up.svg);

      &.thumbs-down {
        background-color: rgba(240,172,80, 0.7);
        content:  url(../../../assets/img/thumbs-down.svg);
      }
    }

    .gauge {
      position: absolute;
      bottom: 0;
      height: 55px;
      width: 100%;
      display: flex;
      .gauge-bar {
        animation: line 2s forwards;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        img {
          width: 25px;
          margin: 0 20px;
        }
        span {
          font-size: 30px;
          font-weight: 300;
        }
      }
      .positive {
        background-color: rgba(80,196,188, 0.7);
        transform-origin: 0 100%;
        display: flex;
        justify-content: flex-start;
      }
      .negative {
        background-color: rgba(240,172,80, 0.7);
        transform-origin: 100% 0;
        display: flex;
        justify-content: flex-end;
      }

      @keyframes line {
        from {
          transform: scaleX(0);
        }
        to {
          transform: scaleX(1);
        }
      }
    }

    .info-row {
      height: 100%;
      overflow: hidden;
      display: flex;
      img {
        width: 20%;
        height: fit-content;
      }
      .content {
        width: 56%;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        z-index: 1;
        padding: 10px 15px;
        .title {
          font-size: 34px;
        }
        .description {
          font-size: 18px;
          font-weight: 200;
          line-height: 1.1;
        }
      }
      .vote-container {
        width: 24%;
        z-index: 1;
        text-align: right;
        padding: 10px 15px;

        .elapsed-time {
          color: #FFFFFF;
          font-weight: 300;
        }

        .buttons-container {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;

          .vote-button {
            height: 48px;
            width: 48px;
            border: none;
            margin-right: 10px;

            img {
              width: 28px;
            }
            &.thumbs-up {
              background-color: #50c4bc;
            }
            &.thumbs-down {
              background-color: #f0ac50;
            }
            &:hover {
              border: 1px solid #FFFFFF;
            }
            &.selected {
              border: 2px solid #FFFFFF;
            }
          }
          .vote-now {
            color: #FFFFFF;
            height: 48px;
            border: 1px solid #FFFFFF;
            background-color: rgba(0, 0, 0, 0.7);
            width: 120px;
            &:hover {
              border: 2px solid #FFFFFF;
            }
            &[disabled] {
              background-color: rgba(0, 0, 0, 0.4);
              &:hover {
                border: 1px solid #FFFFFF;
              }
            }
          }
        }
      }
    }
  }

}
